@using Kendo.Mvc
@model MVC_BathCompareSIte.DTO.InventoryDTO

<div class="form-horizontal">
    @Html.HiddenFor(model => model.ItemId)
    @Html.HiddenFor(model => model.Image)
    <div class="form-group">
        @Html.LabelFor(model => model.ItemId, new {@class = "col-md-3 control-label"})
        <div class="col-md-4">
            @Html.EditorFor(model => model.ItemId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "8", style="width:200px;" })
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" id="category_editor" />
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.selCateIndex)
        <label for="" class="col-md-3 control-label">Category</label>
        <div class="col-md-4">
            <input id="categories" placeholder="Select a category..." />
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" id="brand_editor"/>
        @Html.HiddenFor(model => model.BrandId)
        @Html.HiddenFor(model => model.selBrandIndex)
        <label for="" class="col-md-3 control-label">Brand</label>
        <div class="col-md-4">
            <input id="brands" placeholder="Select a brand..."/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Price, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SalePrice, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.SalePrice, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SourceLink, new { @class = "col-md-3 control-label" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.SourceLink, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <img id="imgview" alt="test" class="img-thumbnail" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#categories").kendoComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            suggest: true,
        });

        $("#brands").kendoComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            filter: "contains",
            suggest: true,
        });

        getCategories();
        getBrands();

        function loadImage() {
            var img = '';
            img = $('#Image').val();
            $('#imgview').attr("src", img);
        }

        function getCategories() {
            $.ajax({
                url: "@Url.Action("GetCategories", "Home")",
                type: 'POST',
            contentType: 'application/json',
            success: function(result) {
                var dd = $('#categories').data("kendoComboBox");
                dd.setDataSource(result);

                var pVal = $('#selCateIndex').val();
                if (pVal > 0) {
                    dd.value(pVal);
                }

                loadImage();
            },
            error: function (res) {
                alert('[Categories]fail: '+ res.responseText);
            }
            });
        }


        function getBrands() {
            $.ajax({
                url: "@Url.Action("GetBrands", "Home")",
                type: 'POST',
            contentType: 'application/json',
            success: function(result) {
                var dd = $('#brands').data("kendoComboBox");
                dd.setDataSource(result);

                var pVal = $('#selBrandIndex').val();
                if (pVal > 0) {
                    dd.value(pVal);
                }
            },
            error: function (res) {
                alert('[Brands]fail: '+ res.responseText);
            }
        });
        }

        $(".k-grid-update").on("click", function() {
            var selCate = $("#categories").data("kendoComboBox");
            var selBrand = $("#brands").data("kendoComboBox");
            var selValue = "";

            if ($.isNumeric(selCate.value())) {
                selValue = selCate.value();
                $("#CategoryId").val(selValue);
                $("#CategoryId").trigger('change');
            }

            if ($.isNumeric(selBrand.value())) {
                selValue = selBrand.value();
                $("#BrandId").val(selValue);
                $("#BrandId").trigger('change');
            }
        });
    });

</script>

